#define INCL_PM
#include <os2.h>

#define LOCAL_DEFINES
#include "ISpeller.h"

CODEPAGE 850

RCDATA 1 {              // Special resource segment:
  "Language",           //   Resource DLL Type.
  "ISpeller",           //   Application Name.
  "Espa¤ol",            //   Specific language name.
  850, 437, 0           //   Codepage to be used (in preference order, null terminated).
}

/****************************************************************************
 * Months: enero, febrero, marzo, abril, mayo, junio,                       *
 *   julio, agosto, setiembre, octubre, noviembre, diciembre.               *
 ****************************************************************************/

DLGTEMPLATE IDD_PRODUCTINFO
{
  DIALOG "", IDD_PRODUCTINFO, 0, 0, 240, 188, FS_DLGBORDER
  {
    CTEXT "ISpeller"                                            0,  10,158, 220, 18
    PRESPARAMS PP_FONTNAMESIZE, "24.Helv Bold Italic"

    CTEXT "Versi¢n 0.97"                                       0,  10,148, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "03 diciembre 1998"                                        0,  10,138, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "Chequeador de ortograf¡a para OS/2"                  0,  10,118, 220,  8

    CTEXT "Este programa fue hecho de ISpell 3.1.18,"           0,  10,102, 220,  8
    CTEXT "lo cual es 'freeware', con los copyrightes siguientes:" 0, 10,94,220,  8

    CTEXT "Copyright (c), 1983, por Pace Willisson."            0,  10, 78, 220,  8
    CTEXT "Copyright 1992, 1993, Geoff Kuenning,"               0,  10, 70, 220,  8
    CTEXT "Granada Hills, CA."                                  0,  10, 62, 220,  8
    CTEXT "Derechos reservados."                                0,  10, 54, 220,  8

    CTEXT "Adaptado a OS/2 por Rick Papo."                      0,  10, 38, 220,  8
    CTEXT "Versi¢n en espa¤ol"                                  0,  10, 30, 220,  8

    DEFPUSHBUTTON "~OK"                         DID_OK, 100,  8,  40, 16, WS_GROUP
  }
}

DLGTEMPLATE IDD_CONFIGURE
{
  DIALOG "", IDD_CONFIGURE, 0, 0, 200, 100, FS_NOBYTEALIGN | NOT FS_DLGBORDER
  {
    CTEXT "Diccionarios",        0,                        0, 90, 120,  8
    COMBOBOX "",                 IDD_CONFIGURE_DICT,       0,  0, 120, 88, CBS_SIMPLE
    CONTROL "~Hacer...",         IDD_CONFIGURE_BUILD,    124, 76,  72, 12, WC_BUTTON, WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_PUSHBUTTON
    CONTROL "~Remover",          IDD_CONFIGURE_REMOVE,   124, 60,  72, 12, WC_BUTTON, WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_PUSHBUTTON
  }
}

DLGTEMPLATE IDD_BUILD
{
  DIALOG "Hacer Diccionario", IDD_BUILD, 0, 0, 300, 64, FS_DLGBORDER, FCF_DLGBORDER | FCF_TITLEBAR
  {
    LTEXT "Fichero lista de palabras" 0,                        8, 50, 118,  8
    ENTRYFIELD ""                     IDD_BUILD_WORDS,        130, 50,  96,  8, ES_AUTOSCROLL | ES_MARGIN
    CONTROL "Buscar..."               IDD_BUILD_WORDSF,       230, 48,  64, 12, WC_BUTTON, WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_PUSHBUTTON

    LTEXT "Fichero 'affix' del idioma" 0,                       8, 38, 118,  8
    ENTRYFIELD ""                     IDD_BUILD_AFFIX,        130, 38,  96,  8, ES_AUTOSCROLL | ES_MARGIN
    CONTROL "Buscar..."               IDD_BUILD_AFFIXF,       230, 36,  64, 12, WC_BUTTON, WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_PUSHBUTTON

    LTEXT "Nombre del diccionario"    0,                        8, 26, 118,  8
    ENTRYFIELD ""                     IDD_BUILD_DICT,         130, 26,  96,  8, ES_AUTOSCROLL | ES_MARGIN

    DEFPUSHBUTTON "~OK"               DID_OK,                   8, 10,  40, 12, WS_GROUP
    CONTROL "Esc=Cancelar"            DID_CANCEL,              52, 10,  66, 12, WC_BUTTON, WS_VISIBLE | BS_PUSHBUTTON
    CONTROL "F1=Ayuda"                0,                      122, 10,  62, 12, WC_BUTTON, WS_VISIBLE | BS_PUSHBUTTON | BS_HELP
    CTEXT "",                         IDD_BUILD_ERR,            8,  2, 284,  8
    PRESPARAMS PP_FOREGROUNDCOLOR, 0xFF0000
  }
}

STRINGTABLE
{
  IDS_TITLE                             "Chequeador de ortograf¡a 'ISpeller'"
  IDS_TITLE1                            REVISION
  IDS_HELPTITLE                         "Ayuda de 'ISpeller'"
  IDS_ERROR_CREATEHELP                  "ERROR: No se puede crear la instancia de ayuda. C¢digo %08lX."
  IDS_MAJORTAB                          "ISpeller"

  IDS_DICTIONARY                        "Espanol"
  IDS_BUILD_WORDS                       "Espanol.dic"
  IDS_BUILD_AFFIX                       "Espanol"
  IDS_BUILD_DICT                        "Espanol"

  IDS_ERROR_CONFIGURE_NODICT            "ERROR: No se pudo encontrar el diccionario."
  IDS_ERROR_CONFIGURE_BADDICT           "ERROR: No se pudo abrir el diccionario."
  IDS_ERROR_CONFIGURE_MUSTSELECT        "ERROR: Hay que seleccionar un diccionario."

  IDS_ERROR_BUILD_NOTAVAIL              "ERROR: Funci¢n no est  disponible."
  IDS_ERROR_BUILD_NOWORDLIST            "ERROR: No se pudo accesar a la lista de palabras."
  IDS_ERROR_BUILD_NOAFFIX               "ERROR: No se pudo accesar al fichero 'affix'."
  IDS_ERROR_BUILD_NODICT                "ERROR: No se pudo accesar al fichero diccionario."
  IDS_ERROR_BUILD_NOBUILDER             "ERROR: No se pudo encontrar al hacedor de diccionarios."
  IDS_ERROR_BUILD_BUILDERR              "ERROR: No se pudo hacer el diccionario."
}

