#define INCL_PM
#include <os2.h>

#include "Jpeg.h"

CODEPAGE 850

RCDATA 1 {              // Special resource segment:
  "Language",           //   Resource DLL Type.
  "JPEG",               //   Application Name.
  "Franáais",           //   Specific language name.
  850, 437, 0           //   Codepage to be used (in preference order, null terminated).
}

/****************************************************************************
 * Months: janvier, fÇvrier, mars, avril, mai, juin,                        *
 *   juillet, aoñt, septembre, octobre, novembre, dÇcembre.                 *
 ****************************************************************************/

DLGTEMPLATE IDD_PRODUCTINFO
{
  DIALOG "", IDD_PRODUCTINFO, 0, 0, 260, 204, FS_DLGBORDER
  {
    CTEXT "Jpeg"                                                0,  10,174, 240, 18
    PRESPARAMS PP_FONTNAMESIZE, "24.Helv Bold Italic"

    CTEXT "Version 0,97"                                       0,  10,162, 240,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "03 dÇcembre 1998"                                     0,  10,152, 240,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "Module d'importation de graphiques JPEG pour Escriba",0, 10,142, 240,  8

    CTEXT "Ce programme utilise un logiciel gratuit de"         0,  10,126, 240,  8
    CTEXT "l'ÆIndependent JPEG GroupØ, avec le copyright suivant :" 0,10,118,240,  8

    CTEXT "Copyright ∏ 1988 Richard M. Stallman"                0,  10,102, 240,  8
    CTEXT "Copyright ∏ 1989, 1991 Aladdin Enterprises"          0,  10, 94, 240,  8
    CTEXT "Copyright ∏ 1990, David Koblas"                      0,  10, 86, 240,  8
    CTEXT "Copyright ∏ 1991, 1992, 1993, Thomas G. Lane"        0,  10, 78, 240,  8
    CTEXT "Tous droits rÇservÇs."                               0,  10, 70, 240,  8

    CTEXT "Copyright ∏ Richard Papo, 1996-1998"                 0,  10, 54, 220,  8
    CTEXT "Internet : rpapo@msen.com"                           0,  10, 46, 220,  8
    CTEXT "WWW : http://www.msen.com/~rpapo"                    0,  10, 38, 220,  8
    CTEXT "Version franáaise"                                   0,  10, 30, 240,  8

    DEFPUSHBUTTON "~Ok"                                     DID_OK,110,  8,  40, 16, WS_GROUP
  }
}

STRINGTABLE
{
  IDS_TITLE                             "Module d'importation de graphique JPEG"
  IDS_TITLE1                            REVISION
  IDS_HELPTITLE                         "Aide 'Graphiques JPEG'"
  IDS_ERROR_CREATEHELP                  "Erreur : Impossible d'initialiser l'aide.  Code %08lX."

  IDS_ERROR_OPEN_FOR_VERIFY             "Erreur(JPEG) : Impossible d'ouvrir le fichier '%s' pour le vÇrifier."
  IDS_ERROR_FILE_TOO_SMALL              "Erreur(JPEG) : Fichier GIF incorrect.  Trop petit."
  IDS_ERROR_INVALID_FILE_ID             "Erreur(JPEG) : Signature incorrecte."
  IDS_ERROR_MEMORY                      "Erreur(JPEG) : Impossible d'allouer la mÇmoire pour l'en-tàte du bitmap."
  IDS_ERROR_DC_OPEN                     "Erreur(JPEG) : Impossible d'ouvrir le contexte de pÇriphÇrique mÇmoire.  êtat %08X."
  IDS_ERROR_PS_CREATE                   "Erreur(JPEG) : Impossible de crÇer l'espace de prÇsentation en mÇmoire.  êtat %08X."
  IDS_ERROR_CREATE_BITMAP               "Erreur(JPEG) : Impossible de crÇer le bitmap.  êtat %08X."
}
