#define INCL_PM
#include <os2.h>

#include "Bmp.h"

CODEPAGE 850

HELPSUBTABLE ID_HELPTABLE
{
//
//            Item ID                           Help Panel ID
//
}

HELPTABLE ID_HELPTABLE
{
//
//         Window ID                    Help Sub-Table ID               Extended Help Panel ID
//
  HELPITEM IDD_PRODUCTINFO,             ID_HELPTABLE,                   IDD_PRODUCTINFO
}
