#include "System.h"

#include "Controls.h"
#include "RTF.h"

CODEPAGE 850

RCDATA 1 {              // Special resource segment:
  "Language",           //   Resource DLL Type.
  "RTF",                //   Application Name.
  "Nederlands",         //   Specific language name.
  850, 437, 0           //   Codepage to be used (in preference order, null terminated).
}

/****************************************************************************
 * Months: januari, februari, maart, april, mei, juni,                      *
 *   juli, augustus, september, october, november, december.                *
 ****************************************************************************/

DLGTEMPLATE IDD_PRODUCTINFO
{
  DIALOG "", IDD_PRODUCTINFO, 0, 0, 240, 120, FS_DLGBORDER
  {
    CTEXT "RTF"                                                 0, 10, 94, 220, 18
    PRESPARAMS PP_FONTNAMESIZE, "24.Helv Bold Italic"

    CTEXT "Versie 0.97"                                         0, 10, 84, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "03 december 1998"                                      0, 10, 74, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "RTF Import/Export Module voor Escriba",               0, 10, 62, 220,  8
    CTEXT "Copyright ¸ Richard Papo, 1996-1998"                  0, 10, 54, 220,  8
    CTEXT "Internet: rpapo@msen.com"                             0, 10, 46, 220,  8
    CTEXT "WWW: http://www.msen.com/~rpapo"                      0, 10, 38, 220,  8
    CTEXT "Nederlandse versie"                                   0, 10, 30, 220,  8

    DEFPUSHBUTTON "~OK"                                     DID_OK,100,  8,  40, 16, WS_GROUP
  }
}

DLGTEMPLATE IDD_CONFIGURE_IMPORT
{
  DIALOG "", IDD_CONFIGURE_IMPORT, 0, 0, 200, 100, FS_NOBYTEALIGN | NOT FS_DLGBORDER
  {
    GROUPBOX "Import Opties",          0,                        0,  0, 200,100
  }
}

DLGTEMPLATE IDD_CONFIGURE_EXPORT
{
  DIALOG "", IDD_CONFIGURE_EXPORT, 0, 0, 200, 100, FS_NOBYTEALIGN | NOT FS_DLGBORDER
  {
    GROUPBOX "Export Opties",                 0,                        0,  0, 200,100
  }
}

STRINGTABLE
{
  IDS_TITLE                     "RTF Import/Export Module"
  IDS_TITLE1                    REVISION
  IDS_HELPTITLE                 "'RTF' Hulp"
  IDS_ERROR_CREATEHELP          "FOUT: Hulpsysteem kan niet gemaakt worden.  Code %08lX."

  IDS_MAJORTAB                  "RTF"

  IDS_ERROR_OPEN_VERIFY         "FOUT: Bestand kan niet voor controle geopend worden."
  IDS_ERROR_MEMORY_VERIFY       "FOUT: Kan geen geheugen vinden om bestand te laden voor controle."
  IDS_ERROR_INVALID             "FOUT: Invalid RTF file."
  IDS_ERROR_OPEN_LOAD           "FOUT: Kan bestand niet openen om te laden."
  IDS_ERROR_MEMORY_OPEN         "FOUT: Geen geheugen beschikbaar om bestand te laden."
  IDS_ERROR_WRITE               "FOUT: Bestand kan niet in zijn geheel naar schijf geschreven worden."
}
