#define INCL_PM
#include <os2.h>

#include "Gif.h"

CODEPAGE 850

RCDATA 1 {              // Special resource segment:
  "Language",           //   Resource DLL Type.
  "GIF",                //   Application Name.
  "Nederlands",         //   Specific language name.
  850, 437, 0           //   Codepage to be used (in preference order, null terminated).
}

/****************************************************************************
 * Months: januari, februari, maart, april, mei, juni,                      *
 *   juli, augustus, september, october, november, december.                *
 ****************************************************************************/

DLGTEMPLATE IDD_PRODUCTINFO
{
  DIALOG "", IDD_PRODUCTINFO, 0, 0, 240, 120, FS_DLGBORDER
  {
    CTEXT "Gif"                                                 0,  10, 94, 220, 18
    PRESPARAMS PP_FONTNAMESIZE, "24.Helv Bold Italic"

    CTEXT "Versie 0.97"                                        0,  10, 84, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "03 december 1998"                                     0,  10, 74, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "GIF Grafische Import Module voor Escriba"    ,       0,  10, 62, 220,  8
    CTEXT "Copyright ¸ Richard Papo, 1996-1998"                 0,  10, 54, 220,  8
    CTEXT "Internet: rpapo@msen.com"                            0,  10, 46, 220,  8
    CTEXT "WWW: http://www.msen.com/~rpapo"                     0,  10, 38, 220,  8
    CTEXT "Nederlandse versie"                                  0,  10, 30, 220,  8

    DEFPUSHBUTTON "~OK"                                     DID_OK,100,  8,  40, 16, WS_GROUP
  }
}

STRINGTABLE
{
  IDS_TITLE                             "GIF Grafische Import Module"
  IDS_TITLE1                            REVISION
  IDS_HELPTITLE                         "'GIF Grafische' Hulp"
  IDS_ERROR_CREATEHELP                  "FOUT: Hulpsysteem kan niet gemaakt worden.  Code %08lX."

  IDS_ERROR_OPEN_FOR_VERIFY             "FOUT(GIF): Kan bestand '%s' niet openen om vanuit te laden."
  IDS_ERROR_FILE_TOO_SMALL              "FOUT(GIF): Ongeldig bestand. Te klein."
  IDS_ERROR_INVALID_FILE_ID             "FOUT(GIF): Ongeldige handtekening."
  IDS_ERROR_INVALID_FILE_VERSION        "FOUT(GIF): Ongeldige versie."
  IDS_ERROR_INVALID_CONTROL_LABEL       "FOUT(GIF): Ongeldige grafische controle in bestand. Label %02X gevonden."
  IDS_ERROR_INVALID_CONTROL_BLOCK_TYPE  "FOUT(GIF): Ongeldig controlebloktype in bestand. Type %02X gevonden."
  IDS_ERROR_TOO_MANY_ROWS               "FOUT(GIF): Plaatje heeft te veel rijen met max %i)."
  IDS_ERROR_MEMORY1                     "FOUT(GIF): Kan geen geheugen vinden voor de bitmap data buffer."
  IDS_ERROR_DECODER                     "FOUT(GIF): Decoder fout %i."
  IDS_ERROR_MEMORY2                     "FOUT(GIF): Kan geen geheugen vinden voor bitmap-header."
  IDS_ERROR_DC_OPEN                     "FOUT(GIF): Kan geheugen-device-context niet openen.  Status %i."
  IDS_ERROR_PS_CREATE                   "FOUT(GIF): Kan geen geheugen presentatie-ruimte aanmaken. Status %i."
  IDS_ERROR_CREATE_BITMAP               "FOUT(GIF): Kan geen bitmap maken.  Status %i."
  IDS_ERROR_GET_CODE_SIZE               "FOUT(GIF): Kan code size niet vinden."
  IDS_ERROR_INVALID_CODE_SIZE           "FOUT(GIF): Ongeldige code size."
  IDS_ERROR_MEMORY3                     "FOUT(GIF): Kan geen decode buffer aanmaken."
  IDS_ERROR_FILE_ERROR                  "FOUT(GIF): Bestandfout.  Decode afgebroken."
  IDS_ERROR_OPEN_FOR_LOAD               "FOUT(GIF): Kan bestand '%s' noet openen om van te laden."
  IDS_ERROR_MEMORY4                     "FOUT(GIF): Kan geen geheugen vinden om het block in te laden.  %i bytes werden aangevraagd."
}

