#define INCL_PM
#include <os2.h>

#include "Gif.h"

CODEPAGE 850

RCDATA 1 {              // Special resource segment:
  "Language",           //   Resource DLL Type.
  "GIF",                //   Application Name.
  "Espa¤ol",            //   Specific language name.
  850, 437, 0           //   Codepage to be used (in preference order, null terminated).
}

/****************************************************************************
 * Months: enero, febrero, marzo, abril, mayo, junio,                       *
 *   julio, agosto, setiembre, octubre, noviembre, diciembre.               *
 ****************************************************************************/

DLGTEMPLATE IDD_PRODUCTINFO
{
  DIALOG "", IDD_PRODUCTINFO, 0, 0, 240, 120, FS_DLGBORDER
  {
    CTEXT "Gif"                                                 0,  10, 94, 220, 18
    PRESPARAMS PP_FONTNAMESIZE, "24.Helv Bold Italic"

    CTEXT "Versi¢n 0.97"                                       0,  10, 84, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "03 diciembre 1998"                                     0,  10, 74, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "M¢dulo para importar gr ficos 'GIF'",                0,  10, 62, 220,  8
    CTEXT "Copyright ¸ Richard Papo, 1996-1998"                 0,  10, 54, 220,  8
    CTEXT "Internet: rpapo@msen.com"                            0,  10, 46, 220,  8
    CTEXT "WWW: http://www.msen.com/~rpapo"                     0,  10, 38, 220,  8
    CTEXT "Versi¢n en Espa¤ol"                                  0,  10, 30, 220,  8

    DEFPUSHBUTTON "~OK"                                     DID_OK,100,  8,  40, 16, WS_GROUP
  }
}

STRINGTABLE
{
  IDS_TITLE                             "M¢dulo para importar gr ficos 'GIF'"
  IDS_TITLE1                            REVISION
  IDS_HELPTITLE                         "Ayuda de 'Gr ficos GIF'"
  IDS_ERROR_CREATEHELP                  "ERROR: No se puede crear la instancia de ayuda. C¢digo %08lX."

  IDS_ERROR_OPEN_FOR_VERIFY             "ERROR(GIF): No se pudo abrir el fichero '%s' para verificarlo."
  IDS_ERROR_FILE_TOO_SMALL              "ERROR(GIF): Fichero inv lido.  Demasiado peque¤o."
  IDS_ERROR_INVALID_FILE_ID             "ERROR(GIF): Firma inv lida."
  IDS_ERROR_INVALID_FILE_VERSION        "ERROR(GIF): Versi¢n inv lida."
  IDS_ERROR_INVALID_CONTROL_LABEL       "ERROR(GIF): Marca inv lida en fichero.  Se encontr¢ la marca %02X."
  IDS_ERROR_INVALID_CONTROL_BLOCK_TYPE  "ERROR(GIF): Tipo de control inv lido en fichero.  Se encontr¢ el tipo %02X ."
  IDS_ERROR_TOO_MANY_ROWS               "ERROR(GIF): El gr fico tiene demasiadas filas (%i con un m ximo de %i)."
  IDS_ERROR_MEMORY1                     "ERROR(GIF): No se pudo conseguir memoria suficiente para el gr fico."
  IDS_ERROR_DECODER                     "ERROR(GIF): Error en decifrar %i."
  IDS_ERROR_MEMORY2                     "ERROR(GIF): No se pudo conseguir memoria suficiente para el encabecimiento."
  IDS_ERROR_DC_OPEN                     "ERROR(GIF): No se pudo abrir un contexto virtual del tipo memoria.  Estado %08X."
  IDS_ERROR_PS_CREATE                   "ERROR(GIF): No se pudo abrir un espacio de presentaci¢n.  Estado %08X."
  IDS_ERROR_CREATE_BITMAP               "ERROR(GIF): No se pudo crear el gr fico en memoria.  Estado %08X."
  IDS_ERROR_GET_CODE_SIZE               "ERROR(GIF): No se pudo conseguir el tama¤o del c¢digo."
  IDS_ERROR_INVALID_CODE_SIZE           "ERROR(GIF): Tama¤o de c¢digo inv lido."
  IDS_ERROR_MEMORY3                     "ERROR(GIF): No se pudo conseguir memoria para decifrar."
  IDS_ERROR_FILE_ERROR                  "ERROR(GIF): Error en leer el fichero."
  IDS_ERROR_OPEN_FOR_LOAD               "ERROR(GIF): No se pudo abrir el fichero '%s' para cargarlo."
  IDS_ERROR_MEMORY4                     "ERROR(GIF): No se pudo conseguir memoria suficiente para cargar un bloque.  Se pidieron %i bytes de memoria."
}
