#define INCL_PM
#include <os2.h>

#include "Gif.h"

CODEPAGE 850

RCDATA 1 {              // Special resource segment:
  "Language",           //   Resource DLL Type.
  "GIF",                //   Application Name.
  "Franáais",           //   Specific language name.
  850, 437, 0           //   Codepage to be used (in preference order, null terminated).
}

/****************************************************************************
 * Months: janvier, fÇvrier, mars, avril, mai, juin,                        *
 *   juillet, aoñt, septembre, octobre, novembre, dÇcembre.                 *
 ****************************************************************************/

DLGTEMPLATE IDD_PRODUCTINFO
{
  DIALOG "", IDD_PRODUCTINFO, 0, 0, 240, 120, FS_DLGBORDER
  {
    CTEXT "Gif"                                                 0,  10, 94, 220, 18
    PRESPARAMS PP_FONTNAMESIZE, "24.Helv Bold Italic"

    CTEXT "Version 0,97"                                       0,  10, 84, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "03 dÇcembre 1998"                                     0,  10, 74, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "Module d'importation de graphiques GIF pour Escriba",0,  10, 62, 220,  8
    CTEXT "Copyright ∏ Richard Papo, 1996-1998"                 0,  10, 54, 220,  8
    CTEXT "Internet : rpapo@msen.com"                           0,  10, 46, 220,  8
    CTEXT "WWW : http://www.msen.com/~rpapo"                    0,  10, 38, 220,  8
    CTEXT "Version Franáaise"                                   0,  10, 30, 220,  8

    DEFPUSHBUTTON "~Ok"                                     DID_OK,100,  8,  40, 16, WS_GROUP
  }
}

STRINGTABLE
{
  IDS_TITLE                             "Module d'importation de graphique GIF"
  IDS_TITLE1                            REVISION
  IDS_HELPTITLE                         "Aide 'Graphiques GIF'"
  IDS_ERROR_CREATEHELP                  "Erreur : Impossible d'initialiser l'aide.  Code %08lX."

  IDS_ERROR_OPEN_FOR_VERIFY             "Erreur(GIF): Impossible d'ouvrir le fichier '%s' pour le vÇrifier."
  IDS_ERROR_FILE_TOO_SMALL              "Erreur(GIF): Fichier GIF incorrect.  Trop petit."
  IDS_ERROR_INVALID_FILE_ID             "Erreur(GIF): Signature incorrecte."
  IDS_ERROR_INVALID_FILE_VERSION        "Erreur(GIF): Version incorrecte."
  IDS_ERROR_INVALID_CONTROL_LABEL       "Erreur(GIF): êtiquette de contrìle incorrecte rencontrÇe : %02X."
  IDS_ERROR_INVALID_CONTROL_BLOCK_TYPE  "Erreur(GIF): Type de bloc de contrìle incorrect recontrÇ : %02X."
  IDS_ERROR_TOO_MANY_ROWS               "Erreur(GIF): Trop de lignes (%1, le maximum est %i)."
  IDS_ERROR_MEMORY1                     "Erreur(GIF): Impossible d'allouer un tampon pour l'image."
  IDS_ERROR_DECODER                     "Erreur(GIF): Erreur de dÇcodage %i."
  IDS_ERROR_MEMORY2                     "Erreur(GIF): Impossible d'allouer la mÇmoire pour l'en-tàte du bitmap."
  IDS_ERROR_DC_OPEN                     "Erreur(GIF): Impossible d'ouvrir le contexte de pÇriphÇrique mÇmoire.  êtat %08X."
  IDS_ERROR_PS_CREATE                   "Erreur(GIF): Impossible de crÇer l'espace de prÇsentation en mÇmoire.  êtat %08X."
  IDS_ERROR_CREATE_BITMAP               "Erreur(GIF): Impossible de crÇer le bitmap.  êtat %08X."
  IDS_ERROR_GET_CODE_SIZE               "Erreur(GIF): Impossible d'obtenir la taille du code."
  IDS_ERROR_INVALID_CODE_SIZE           "Erreur(GIF): Taille de code incorrecte."
  IDS_ERROR_MEMORY3                     "Erreur(GIF): Impossible d'allouer le tampon de dÇcodage."
  IDS_ERROR_FILE_ERROR                  "Erreur(GIF): Erreur fichier. DÇcodage interrompu."
  IDS_ERROR_OPEN_FOR_LOAD               "Erreur(GIF): Impossible d'ouvrir le fichier '%s'."
  IDS_ERROR_MEMORY4                     "Erreur(GIF): Impossible d'allouer la mÇmoire oó charger un bloc. %1 octets furent requis."
}
