#define INCL_PM
#include <os2.h>

#include "Tiff_DLL.h"

CODEPAGE 850

RCDATA 1 {              // Special resource segment:
  "Language",           //   Resource DLL Type.
  "TIFF",               //   Application Name.
  "Franáais",           //   Specific language name.
  850, 437, 0           //   Codepage to be used (in preference order, null terminated).
}

/****************************************************************************
 * Months: janvier, fÇvrier, mars, avril, mai, juin,                        *
 *   juillet, aoñt, septembre, octobre, novembre, dÇcembre.                 *
 ****************************************************************************/

DLGTEMPLATE IDD_PRODUCTINFO
{
  DIALOG "", IDD_PRODUCTINFO, 0, 0, 240, 136, FS_DLGBORDER
  {
    CTEXT "TIFF"                                                0,  10,110, 220, 18
    PRESPARAMS PP_FONTNAMESIZE, "24.Helv Bold Italic"

    CTEXT "Version 0,97"                                       0,  10,100, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "03 dÇcembre 1998"                                     0,  10, 90, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "Module d'importation de graphiques TIFF pour Escriba",0, 10, 78, 220,  8
    CTEXT "Copyright ∏ 1988, 1989, 1990, 1991, 1992 Sam Leffler",0, 10, 70, 220,  8
    CTEXT "Copyright ∏ 1991, 1992 Silicon Graphics, Inc."       0,  10, 62, 220,  8
    CTEXT "Copyright ∏ Richard Papo, 1996-1998"                 0,  10, 54, 220,  8
    CTEXT "Internet : rpapo@msen.com"                           0,  10, 46, 220,  8
    CTEXT "WWW : http://www.msen.com/~rpapo"                    0,  10, 38, 220,  8
    CTEXT "Version franáaise"                                   0,  10, 30, 220,  8

    DEFPUSHBUTTON "~Ok"                                     DID_OK,100,  8,  40, 16, WS_GROUP
  }
}

STRINGTABLE
{
  IDS_TITLE                             "Module d'importation de graphique TIFF"
  IDS_TITLE1                            REVISION
  IDS_HELPTITLE                         "Aide 'Graphique TIFF' "
  IDS_ERROR_CREATEHELP                  "Erreur : Impossible d'initialiser l'aide.  Code %08lX."

  IDS_ERROR_OPEN_FOR_VERIFY             "Erreur(TIFF) : Impossible d'ouvrir le fichier '%s' pour le vÇrifier."
  IDS_ERROR_FILE_TOO_SMALL              "Erreur(TIFF) : Fichier TIFF incorrect.  Trop petit."
  IDS_ERROR_INVALID_FILE_ID             "Erreur(TIFF) : Signature incorrecte."
  IDS_ERROR_OPEN_FOR_LOAD               "Erreur(TIFF) : Impossible d'ouvrir le fichier '%s'."
  IDS_ERROR_MEMORY1                     "Erreur(TIFF) : Impossible d'allouer un tampon pour l'image."
  IDS_ERROR_MEMORY2                     "Erreur(TIFF) : Impossible d'allouer le buffer pour l'image TIFF RGBA."
  IDS_ERROR_TIFFREAD                    "Erreur(TIFF) : Impossible de lire l'image TIFF RGBA."
  IDS_ERROR_MEMORY3                     "Erreur(TIFF) : Impossible d'allouer la mÇmoire pour l'en-tàte du bitmap."
  IDS_ERROR_DC_OPEN                     "Erreur(TIFF) : Impossible d'ouvrir le contexte de pÇriphÇrique mÇmoire.  êtat %08X."
  IDS_ERROR_PS_CREATE                   "Erreur(TIFF) : Impossible de crÇer l'espace de prÇsentation en mÇmoire.  êtat %08X."
  IDS_ERROR_CREATE_BITMAP               "Erreur(TIFF) : Impossible de crÇer le bitmap.  êtat %08X."
}
