/***************************************************************** ESCRIBA.RC
 *                                                                          *
 *                  Escriba Word Processor for OS/2-PM                      *
 *                                                                          *
 *                       Common Resource Script                             *
 *                                                                          *
 ****************************************************************************/

#include "Escriba.h"

POINTER ID_MAIN escriba.ico

POINTER ID_TABSTOP tabstop.ptr
POINTER ID_MARGIN  margin.ptr

BITMAP ID_MAIN   escriba.bmp
BITMAP ID_TOP    top.bmp
BITMAP ID_PGUP   pgup.bmp
BITMAP ID_PGDN   pgdn.bmp
BITMAP ID_BOTTOM bottom.bmp

BITMAP 100 J_Left.bmp
BITMAP 101 J_Center.bmp
BITMAP 102 J_Right.bmp
BITMAP 103 J_Full.bmp

#if 0
ASSOCTABLE ID_MAIN
{
  "Escriba",           "",    EAF_DEFAULTOWNER, escriba.ico
  "Pluma",             "",    EAF_DEFAULTOWNER+EAF_REUSEICON
  "Plain Text",        "TXT", EAF_REUSEICON
  "Bitmap",            "BMP", EAF_REUSEICON
  "GIF",               "GIF", EAF_REUSEICON
  "PCC",               "PCC", EAF_REUSEICON
  "PCX",               "PCX", EAF_REUSEICON
  "Metafile",          "MET", EAF_REUSEICON
  "TIFF",              "TIF", EAF_REUSEICON
}
#endif 

HELPSUBTABLE ID_MAIN
{
//
//            Item ID                           Help Panel ID
//
  HELPSUBITEM IDM_TEXTMENU,                     IDM_TEXTMENU
  HELPSUBITEM IDM_BITMAPMENU,                   IDM_BITMAPMENU
  HELPSUBITEM IDM_BITMAP_BACKGROUND,            IDM_BITMAP_BACKGROUND
  HELPSUBITEM IDM_BITMAP_NOTEXTASIDE,           IDM_BITMAP_NOTEXTASIDE
  HELPSUBITEM IDM_BITMAP_HALFTONE,              IDM_BITMAP_HALFTONE
  HELPSUBITEM IDM_BITMAP_OPTIMIZE,              IDM_BITMAP_OPTIMIZE
  HELPSUBITEM IDM_BITMAP_POSITION,              IDM_BITMAP_POSITION
  HELPSUBITEM IDM_BITMAP_POSITION_EDGE_LEFT,    IDM_BITMAP_POSITION_EDGE_LEFT
  HELPSUBITEM IDM_BITMAP_POSITION_EDGE_RIGHT,   IDM_BITMAP_POSITION_EDGE_RIGHT
  HELPSUBITEM IDM_BITMAP_POSITION_EDGE_TOP,     IDM_BITMAP_POSITION_EDGE_TOP
  HELPSUBITEM IDM_BITMAP_POSITION_EDGE_BOTTOM,  IDM_BITMAP_POSITION_EDGE_BOTTOM
  HELPSUBITEM IDM_BITMAP_POSITION_MARGIN_LEFT,  IDM_BITMAP_POSITION_MARGIN_LEFT
  HELPSUBITEM IDM_BITMAP_POSITION_MARGIN_RIGHT, IDM_BITMAP_POSITION_MARGIN_RIGHT
  HELPSUBITEM IDM_BITMAP_POSITION_MARGIN_TOP,   IDM_BITMAP_POSITION_MARGIN_TOP
  HELPSUBITEM IDM_BITMAP_POSITION_MARGIN_BOTTOM,IDM_BITMAP_POSITION_MARGIN_BOTTOM
  HELPSUBITEM IDM_BITMAP_POSITION_CENTERED_X,   IDM_BITMAP_POSITION_CENTERED_X
  HELPSUBITEM IDM_BITMAP_POSITION_CENTERED_Y,   IDM_BITMAP_POSITION_CENTERED_Y
  HELPSUBITEM IDM_BITMAP_SIZE,                  IDM_BITMAP_SIZE
  HELPSUBITEM IDM_BITMAP_SIZE_EDGETOEDGE_X,     IDM_BITMAP_SIZE_EDGETOEDGE_X
  HELPSUBITEM IDM_BITMAP_SIZE_EDGETOEDGE_Y,     IDM_BITMAP_SIZE_EDGETOEDGE_Y
  HELPSUBITEM IDM_BITMAP_SIZE_MARGINTOMARGIN_X, IDM_BITMAP_SIZE_MARGINTOMARGIN_X
  HELPSUBITEM IDM_BITMAP_SIZE_MARGINTOMARGIN_Y, IDM_BITMAP_SIZE_MARGINTOMARGIN_Y
  HELPSUBITEM IDM_BITMAP_ASPECT,                IDM_BITMAP_ASPECT
  HELPSUBITEM IDM_BITMAP_ASPECT_FLOAT,          IDM_BITMAP_ASPECT_FLOAT
  HELPSUBITEM IDM_BITMAP_ASPECT_FIX_X,          IDM_BITMAP_ASPECT_FIX_X
  HELPSUBITEM IDM_BITMAP_ASPECT_FIX_Y,          IDM_BITMAP_ASPECT_FIX_Y
  HELPSUBITEM IDM_BORDERMENU,                   IDM_BORDERMENU
  HELPSUBITEM IDM_BORDER_SIZE,                  IDM_BORDER_SIZE
  HELPSUBITEM IDM_BORDER_COLOR,                 IDM_BORDER_COLOR
  HELPSUBITEM IDM_BORDER_CAPTION,               IDM_BORDER_CAPTION
  HELPSUBITEM IDM_REFRESH,                      IDM_REFRESH
  HELPSUBITEM IDM_FILE_MENU,                    IDM_FILE_MENU
  HELPSUBITEM IDM_NEW,                          IDM_NEW
  HELPSUBITEM IDM_OPEN,                         IDM_OPEN
  HELPSUBITEM IDM_RECALL,                       IDM_RECALL
  HELPSUBITEM IDM_MERGE,                        IDM_MERGE
  HELPSUBITEM IDM_SAVE,                         IDM_SAVE
  HELPSUBITEM IDM_SAVEAS,                       IDM_SAVEAS
  HELPSUBITEM IDM_SAVE_CLOSE,                   IDM_SAVE_CLOSE
  HELPSUBITEM IDM_CLOSE,                        IDM_CLOSE
  HELPSUBITEM IDM_PRINT,                        IDM_PRINT
  HELPSUBITEM IDM_PRINT_ALL,                    IDM_PRINT_ALL
  HELPSUBITEM IDM_PRINT_ALL_NORMAL,             IDM_PRINT_ALL_NORMAL
  HELPSUBITEM IDM_PRINT_ALL_REVERSE,            IDM_PRINT_ALL_REVERSE
  HELPSUBITEM IDM_PRINT_PAGE,                   IDM_PRINT_PAGE
  HELPSUBITEM IDM_PREFERENCES,                  IDM_PREFERENCES
  HELPSUBITEM IDM_DEFAULTS,                     IDM_DEFAULTS
  HELPSUBITEM IDM_DEFAULTS_CONTEXT,             IDM_DEFAULTS
  HELPSUBITEM IDM_CONFIGURE_EXTENSIONS,         IDM_CONFIGURE_EXTENSIONS
  HELPSUBITEM IDM_LANGUAGE_MENU,                IDM_LANGUAGE_MENU
  HELPSUBITEM IDM_EXIT,                         IDM_EXIT
  HELPSUBITEM IDM_EDIT_MENU,                    IDM_EDIT_MENU
  HELPSUBITEM IDM_UNDO,                         IDM_UNDO
  HELPSUBITEM IDM_REDO,                         IDM_REDO
  HELPSUBITEM IDM_CUT,                          IDM_CUT
  HELPSUBITEM IDM_COPY,                         IDM_COPY
  HELPSUBITEM IDM_PASTE,                        IDM_PASTE
  HELPSUBITEM IDM_CLEAR,                        IDM_CLEAR
  HELPSUBITEM IDM_CLEARCLIPBOARD,               IDM_CLEARCLIPBOARD
  HELPSUBITEM IDM_PASTE_FROM,                   IDM_PASTE_FROM
  HELPSUBITEM IDM_PASTE_FROM_CLIP,              IDM_PASTE_FROM_CLIP
  HELPSUBITEM IDM_PASTE_FROM_CLIP_BITMAP,       IDM_PASTE_FROM_CLIP_BITMAP
  HELPSUBITEM IDM_PASTE_FROM_CLIP_METAFILE,     IDM_PASTE_FROM_CLIP_METAFILE
  HELPSUBITEM IDM_PASTE_FROM_SCRN,              IDM_PASTE_FROM_SCRN
  HELPSUBITEM IDM_PASTE_FROM_SCRN_ENTIRE,       IDM_PASTE_FROM_SCRN_ENTIRE
  HELPSUBITEM IDM_PASTE_FROM_SCRN_FRAME,        IDM_PASTE_FROM_SCRN_FRAME
  HELPSUBITEM IDM_PASTE_FROM_SCRN_WINDOW,       IDM_PASTE_FROM_SCRN_WINDOW
  HELPSUBITEM IDM_PASTE_FROM_SCRN_RECT,         IDM_PASTE_FROM_SCRN_RECT
  HELPSUBITEM IDM_PASTE_FROM_SCRN_HIDE,         IDM_PASTE_FROM_SCRN_HIDE
  HELPSUBITEM IDM_PASTE_FROM_FILE,              IDM_PASTE_FROM_FILE
  HELPSUBITEM IDM_INSERT_FUNCTION,              IDM_INSERT_FUNCTION
  HELPSUBITEM IDM_DATE,                         IDM_DATE
  HELPSUBITEM IDM_DATETODAY,                    IDM_DATETODAY
  HELPSUBITEM IDM_DATECURRENT,                  IDM_DATECURRENT
  HELPSUBITEM IDM_DATECHANGED,                  IDM_DATECHANGED
  HELPSUBITEM IDM_DATEFIXED,                    IDM_DATEFIXED
  HELPSUBITEM IDM_DATEFMT,                      IDM_DATEFMT
  HELPSUBITEM IDM_CURRENTPAGE,                  IDM_CURRENTPAGE
  HELPSUBITEM IDM_PAGECOUNT,                    IDM_PAGECOUNT
  HELPSUBITEM IDM_SEPARATOR,                    IDM_SEPARATOR
  HELPSUBITEM IDM_BARCODE,                      IDM_BARCODE
  HELPSUBITEM IDM_SEARCH,                       IDM_SEARCH
  HELPSUBITEM IDM_FINDNEXT,                     IDM_FINDNEXT
  HELPSUBITEM IDM_GOTOPAGE,                     IDM_GOTOPAGE
  HELPSUBITEM IDM_SPELL,                        IDM_SPELL
  HELPSUBITEM IDM_ZOOM,                         IDM_ZOOM
  HELPSUBITEM IDM_ZOOM_100,                     IDM_ZOOM_100
  HELPSUBITEM IDM_ZOOM_FULLWIDTH,               IDM_ZOOM_FULLWIDTH
  HELPSUBITEM IDM_ZOOM_FULLHEIGHT,              IDM_ZOOM_FULLHEIGHT
  HELPSUBITEM IDM_ZOOM_MARGINS,                 IDM_ZOOM_MARGINS
  HELPSUBITEM IDM_ZOOM_WINDOW,                  IDM_ZOOM_WINDOW
  HELPSUBITEM IDM_ZOOM_ALL,                     IDM_ZOOM_ALL
  HELPSUBITEM IDM_ZOOM_SET,                     IDM_ZOOM_SET
  HELPSUBITEM IDM_LAYOUT_MENU,                  IDM_LAYOUT_MENU
  HELPSUBITEM IDM_MARGINS,                      IDM_MARGINS
  HELPSUBITEM IDM_TABS,                         IDM_TABS
  HELPSUBITEM IDM_INDENT,                       IDM_INDENT
  HELPSUBITEM IDM_LINESPACING_MENU,             IDM_LINESPACING_MENU
  HELPSUBITEM IDM_JUSTIFICATION,                IDM_JUSTIFICATION
  HELPSUBITEM IDM_JUST_LEFT,                    IDM_JUST_LEFT
  HELPSUBITEM IDM_JUST_CENTER,                  IDM_JUST_CENTER
  HELPSUBITEM IDM_JUST_RIGHT,                   IDM_JUST_RIGHT
  HELPSUBITEM IDM_JUST_FULL,                    IDM_JUST_FULL
  HELPSUBITEM IDM_PAGECENTER,                   IDM_PAGECENTER
  HELPSUBITEM IDM_PAGEBREAK,                    IDM_PAGEBREAK
  HELPSUBITEM IDM_HEADER,                       IDM_HEADER
  HELPSUBITEM IDM_FOOTER,                       IDM_FOOTER
  HELPSUBITEM IDM_FONT_MENU,                    IDM_FONT_MENU
  HELPSUBITEM IDM_FONTS_PGUP,                   IDM_FONTS_PGUP
  HELPSUBITEM IDM_FONTS_PGDN,                   IDM_FONTS_PGDN
  HELPSUBITEM IDM_FONTMGR,                      IDM_FONTMGR
  HELPSUBITEM IDM_SIZE_MENU,                    IDM_SIZE_MENU
  HELPSUBITEM IDM_SIZES_PGUP,                   IDM_SIZES_PGUP
  HELPSUBITEM IDM_SIZES_PGDN,                   IDM_SIZES_PGDN
  HELPSUBITEM IDM_SIZEMGR,                      IDM_SIZEMGR
  HELPSUBITEM IDM_ATTR_MENU,                    IDM_ATTR_MENU
  HELPSUBITEM IDM_NORMAL,                       IDM_NORMAL
  HELPSUBITEM IDM_BOLD,                         IDM_BOLD
  HELPSUBITEM IDM_ITALIC,                       IDM_ITALIC
  HELPSUBITEM IDM_UNDERSCORE,                   IDM_UNDERSCORE
  HELPSUBITEM IDM_STRIKEOUT,                    IDM_STRIKEOUT
  HELPSUBITEM IDM_OUTLINE,                      IDM_OUTLINE
  HELPSUBITEM IDM_CAPS,                         IDM_CAPS
  HELPSUBITEM IDM_EXPAND_MENU,                  IDM_EXPAND_MENU
  HELPSUBITEM IDM_EXPANDS_PGUP,                 IDM_EXPANDS_PGUP
  HELPSUBITEM IDM_EXPANDS_PGDN,                 IDM_EXPANDS_PGDN
  HELPSUBITEM IDM_EXPANDMGR,                    IDM_EXPANDMGR
  HELPSUBITEM IDM_LINECOLOR_MENU,               IDM_LINECOLOR_MENU
  HELPSUBITEM IDM_LINECOLORS_PGUP,              IDM_LINECOLORS_PGUP
  HELPSUBITEM IDM_LINECOLORS_PGDN,              IDM_LINECOLORS_PGDN
  HELPSUBITEM IDM_LINECOLORMGR,                 IDM_LINECOLORMGR
  HELPSUBITEM IDM_LINEWIDTH_MENU,               IDM_LINEWIDTH_MENU
  HELPSUBITEM IDM_LINEWIDTHS_PGUP,              IDM_LINEWIDTHS_PGUP
  HELPSUBITEM IDM_LINEWIDTHS_PGDN,              IDM_LINEWIDTHS_PGDN
  HELPSUBITEM IDM_LINEWIDTHMGR,                 IDM_LINEWIDTHMGR
  HELPSUBITEM IDM_FILLCOLOR_MENU,               IDM_FILLCOLOR_MENU
  HELPSUBITEM IDM_FILLCOLORS_PGUP,              IDM_FILLCOLORS_PGUP
  HELPSUBITEM IDM_FILLCOLORS_PGDN,              IDM_FILLCOLORS_PGDN
  HELPSUBITEM IDM_FILLCOLORMGR,                 IDM_FILLCOLORMGR
  HELPSUBITEM IDM_FILLTYPE_MENU,                IDM_FILLTYPE_MENU
  HELPSUBITEM IDM_FILLTYPES_PGUP,               IDM_FILLTYPES_PGUP
  HELPSUBITEM IDM_FILLTYPES_PGDN,               IDM_FILLTYPES_PGDN
  HELPSUBITEM IDM_FILLTYPEMGR,                  IDM_FILLTYPEMGR
  HELPSUBITEM IDM_LINEEND_MENU,                 IDM_LINEEND_MENU
  HELPSUBITEM IDM_LINEENDS_PGUP,                IDM_LINEENDS_PGUP
  HELPSUBITEM IDM_LINEENDS_PGDN,                IDM_LINEENDS_PGDN
  HELPSUBITEM IDM_LINEENDMGR,                   IDM_LINEENDMGR
  HELPSUBITEM IDM_LINEJOIN_MENU,                IDM_LINEJOIN_MENU
  HELPSUBITEM IDM_LINEJOINS_PGUP,               IDM_LINEJOINS_PGUP
  HELPSUBITEM IDM_LINEJOINS_PGDN,               IDM_LINEJOINS_PGDN
  HELPSUBITEM IDM_LINEJOINMGR,                  IDM_LINEJOINMGR
  HELPSUBITEM IDM_WINDOW_MENU,                  IDM_WINDOW_MENU
  HELPSUBITEM IDM_TILE,                         IDM_TILE
  HELPSUBITEM IDM_CASCADE,                      IDM_CASCADE
  HELPSUBITEM IDM_ARRANGEICONS,                 IDM_ARRANGEICONS
  HELPSUBITEM IDM_HELP_MENU,                    IDM_HELP_MENU
  HELPSUBITEM IDM_HELP_FOR_HELP,                IDM_HELP_FOR_HELP
  HELPSUBITEM IDM_EXTENDED_HELP,                IDM_EXTENDED_HELP
  HELPSUBITEM IDM_KEYS_HELP,                    IDM_KEYS_HELP
  HELPSUBITEM IDM_HELP_INDEX,                   IDM_HELP_INDEX
  HELPSUBITEM IDM_ABOUT_MENU,                   IDM_ABOUT_MENU
  HELPSUBITEM IDM_ABOUT,                        IDM_ABOUT
}

HELPSUBTABLE DID_FILE_DIALOG
{
  HELPSUBITEM DID_FILE_DIALOG,                  DID_FILE_DIALOG
  HELPSUBITEM DID_FILENAME_ED,                  DID_FILE_DIALOG
  HELPSUBITEM DID_DRIVE_CB,                     DID_FILE_DIALOG
  HELPSUBITEM DID_FILTER_CB,                    DID_FILE_DIALOG
  HELPSUBITEM DID_DIRECTORY_LB,                 DID_FILE_DIALOG
  HELPSUBITEM DID_FILES_LB,                     DID_FILE_DIALOG
  HELPSUBITEM DID_OK_PB,                        DID_FILE_DIALOG
  HELPSUBITEM DID_CANCEL_PB,                    DID_FILE_DIALOG
  HELPSUBITEM DID_HELP_PB,                      DID_FILE_DIALOG
}

HELPSUBTABLE IDD_PROMPT_SAVE
{
  HELPSUBITEM MBID_YES,                         IDD_PROMPT_SAVE
  HELPSUBITEM MBID_NO,                          IDD_PROMPT_SAVE
  HELPSUBITEM MBID_CANCEL,                      IDD_PROMPT_SAVE
}

HELPSUBTABLE IDD_PROMPT_SAVECONFIRM1
{
  HELPSUBITEM MBID_YES,                         IDD_PROMPT_SAVECONFIRM1
  HELPSUBITEM MBID_NO,                          IDD_PROMPT_SAVECONFIRM1
  HELPSUBITEM MBID_CANCEL,                      IDD_PROMPT_SAVECONFIRM1
  HELPSUBITEM MBID_HELP,                        IDD_PROMPT_SAVECONFIRM1
}

HELPSUBTABLE IDD_PROMPT_SAVECONFIRM2
{
  HELPSUBITEM MBID_YES,                         IDD_PROMPT_SAVECONFIRM2
  HELPSUBITEM MBID_NO,                          IDD_PROMPT_SAVECONFIRM2
  HELPSUBITEM MBID_CANCEL,                      IDD_PROMPT_SAVECONFIRM2
  HELPSUBITEM MBID_HELP,                        IDD_PROMPT_SAVECONFIRM2
}

HELPSUBTABLE IDD_MESSAGE_SPELLDONE
{
  HELPSUBITEM MBID_ENTER,                       IDD_MESSAGE_SPELLDONE
}

HELPSUBTABLE IDD_ERROR_HELPMANAGER
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_HELPMANAGER
}

HELPSUBTABLE IDD_ERROR_WINREGISTERCLASS
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_WINREGISTERCLASS
}

HELPSUBTABLE IDD_ERROR_CREATECLIENT
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_CREATECLIENT
}

HELPSUBTABLE IDD_ERROR_TOOMANYDOCUMENTS
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_TOOMANYDOCUMENTS
}

HELPSUBTABLE IDD_ERROR_TOOMANYLOADED
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_TOOMANYLOADED
}

HELPSUBTABLE IDD_ERROR_DOCUMENT_CREATE
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_DOCUMENT_CREATE
}

HELPSUBTABLE IDD_ERROR_DOCUMENT_LOAD
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_DOCUMENT_LOAD
}

HELPSUBTABLE IDD_ERROR_DOCUMENT_SAVE
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_DOCUMENT_SAVE
}

HELPSUBTABLE IDD_ERROR_CREATEPRINTSTATUS
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_CREATEPRINTSTATUS
}

HELPSUBTABLE IDD_ERROR_CREATELOADSTATUS
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_CREATELOADSTATUS
}

HELPSUBTABLE IDD_ERROR_BLOCKMEMORY
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_BLOCKMEMORY
}

HELPSUBTABLE IDD_ERROR_BADGRAPHICFILE
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_BADGRAPHICFILE
}

HELPSUBTABLE IDD_ERROR_VERIFY1
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_VERIFY1
}

HELPSUBTABLE IDD_ERROR_VERIFY2
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_VERIFY2
}

HELPSUBTABLE IDD_ERROR_VERIFY3
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_VERIFY3
}

HELPSUBTABLE IDD_ERROR_VERIFY4
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_VERIFY4
}

HELPSUBTABLE IDD_ERROR_VERIFY5
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_VERIFY5
}

HELPSUBTABLE IDD_ERROR_VERIFY6
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_VERIFY6
}

HELPSUBTABLE IDD_ERROR_VERIFY7
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_VERIFY7
}

HELPSUBTABLE IDD_ERROR_VERIFY8
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_VERIFY8
}

HELPSUBTABLE IDD_ERROR_IMPORT1
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_IMPORT1
}

HELPSUBTABLE IDD_ERROR_IMPORT2
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_IMPORT2
}

HELPSUBTABLE IDD_ERROR_EXPORT1
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_EXPORT1
}

HELPSUBTABLE IDD_ERROR_EXPORT2
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_EXPORT2
}

HELPSUBTABLE IDD_METAFILE_VERIFY1
{
  HELPSUBITEM MBID_ENTER,                       IDD_METAFILE_VERIFY1
}

HELPSUBTABLE IDD_METAFILE_VERIFY2
{
  HELPSUBITEM MBID_ENTER,                       IDD_METAFILE_VERIFY2
}

HELPSUBTABLE IDD_METAFILE_VERIFY3
{
  HELPSUBITEM MBID_ENTER,                       IDD_METAFILE_VERIFY3
}

HELPSUBTABLE IDD_METAFILE_VERIFY4
{
  HELPSUBITEM MBID_ENTER,                       IDD_METAFILE_VERIFY4
}

HELPSUBTABLE IDD_ERROR_LOADLANGUAGE
{
  HELPSUBITEM MBID_ENTER,                       IDD_ERROR_LOADLANGUAGE
}


HELPTABLE ID_MAIN
{
//
//         Window ID                    Help Sub-Table ID               Extended Help Panel ID
//
  HELPITEM ID_MAIN,                     ID_MAIN,                        ID_MAIN
  HELPITEM FID_CLIENT,                  ID_MAIN,                        ID_MAIN

  HELPITEM IDD_ABOUT,                   ID_MAIN,                        IDD_ABOUT
  HELPITEM IDD_CONFIGURE_EXTENSIONS,    ID_MAIN,                        IDD_CONFIGURE_EXTENSIONS
  HELPITEM IDD_DATEFMT,                 ID_MAIN,                        IDD_DATEFMT
  HELPITEM IDD_DEFAULTS,                ID_MAIN,                        IDD_DEFAULTS
  HELPITEM IDD_DEFAULTS_PAGE_AUTHOR,    ID_MAIN,                        IDD_DEFAULTS_PAGE_AUTHOR
  HELPITEM IDD_DEFAULTS_PAGE_PRINTER,   ID_MAIN,                        IDD_DEFAULTS_PAGE_PRINTER
  HELPITEM IDD_DEFAULTS_PAGE_FONT,      ID_MAIN,                        IDD_DEFAULTS_PAGE_FONT
  HELPITEM IDD_DEFAULTS_PAGE_LAYOUT1,   ID_MAIN,                        IDD_DEFAULTS_PAGE_LAYOUT1
  HELPITEM IDD_DEFAULTS_PAGE_LAYOUT2,   ID_MAIN,                        IDD_DEFAULTS_PAGE_LAYOUT2
  HELPITEM IDD_DEFAULTS_PAGE_NATIONAL,  ID_MAIN,                        IDD_DEFAULTS_PAGE_NATIONAL
  HELPITEM IDD_FILETYPE,                ID_MAIN,                        IDD_FILETYPE
  HELPITEM IDD_INDENT,                  ID_MAIN,                        IDD_INDENT
  HELPITEM IDD_MARGINS,                 ID_MAIN,                        IDD_MARGINS
  HELPITEM IDD_PREFERENCES,             ID_MAIN,                        IDD_PREFERENCES
  HELPITEM IDD_PROFILE_PATH,            ID_MAIN,                        IDD_PROFILE_PATH
  HELPITEM IDD_SEARCH,                  ID_MAIN,                        IDD_SEARCH
  HELPITEM IDD_GOTOPAGE,                ID_MAIN,                        IDD_GOTOPAGE
  HELPITEM IDD_SPELL,                   ID_MAIN,                        IDD_SPELL
  HELPITEM IDD_TABS,                    ID_MAIN,                        IDD_TABS
  HELPITEM IDD_BARCODE,                 ID_MAIN,                        IDD_BARCODE
  HELPITEM IDD_ZOOM_SET,                ID_MAIN,                        IDD_ZOOM_SET
  HELPITEM IDD_HEADER,                  ID_MAIN,                        IDD_HEADER
  HELPITEM IDD_FOOTER,                  ID_MAIN,                        IDD_FOOTER

  HELPITEM DID_FILE_DIALOG,             DID_FILE_DIALOG,                DID_FILE_DIALOG

  HELPITEM IDD_PROMPT_SAVE,             IDD_PROMPT_SAVE,                IDD_PROMPT_SAVE
  HELPITEM IDD_PROMPT_SAVECONFIRM1,     IDD_PROMPT_SAVECONFIRM1,        IDD_PROMPT_SAVECONFIRM1
  HELPITEM IDD_PROMPT_SAVECONFIRM2,     IDD_PROMPT_SAVECONFIRM2,        IDD_PROMPT_SAVECONFIRM2

  HELPITEM IDD_MESSAGE_SPELLDONE,       IDD_MESSAGE_SPELLDONE,          IDD_MESSAGE_SPELLDONE

  HELPITEM IDD_ERROR_HELPMANAGER,       IDD_ERROR_HELPMANAGER,          IDD_ERROR_HELPMANAGER
  HELPITEM IDD_ERROR_WINREGISTERCLASS,  IDD_ERROR_WINREGISTERCLASS,     IDD_ERROR_WINREGISTERCLASS
  HELPITEM IDD_ERROR_CREATECLIENT,      IDD_ERROR_CREATECLIENT,         IDD_ERROR_CREATECLIENT
  HELPITEM IDD_ERROR_TOOMANYDOCUMENTS,  IDD_ERROR_TOOMANYDOCUMENTS,     IDD_ERROR_TOOMANYDOCUMENTS
  HELPITEM IDD_ERROR_TOOMANYLOADED,     IDD_ERROR_TOOMANYLOADED,        IDD_ERROR_TOOMANYLOADED
  HELPITEM IDD_ERROR_DOCUMENT_CREATE,   IDD_ERROR_DOCUMENT_CREATE,      IDD_ERROR_DOCUMENT_CREATE
  HELPITEM IDD_ERROR_DOCUMENT_LOAD,     IDD_ERROR_DOCUMENT_LOAD,        IDD_ERROR_DOCUMENT_LOAD
  HELPITEM IDD_ERROR_DOCUMENT_SAVE,     IDD_ERROR_DOCUMENT_SAVE,        IDD_ERROR_DOCUMENT_SAVE
  HELPITEM IDD_ERROR_CREATEPRINTSTATUS, IDD_ERROR_CREATEPRINTSTATUS,    IDD_ERROR_CREATEPRINTSTATUS
  HELPITEM IDD_ERROR_CREATELOADSTATUS,  IDD_ERROR_CREATELOADSTATUS,     IDD_ERROR_CREATELOADSTATUS
  HELPITEM IDD_ERROR_BLOCKMEMORY,       IDD_ERROR_BLOCKMEMORY,          IDD_ERROR_BLOCKMEMORY
  HELPITEM IDD_ERROR_BADGRAPHICFILE,    IDD_ERROR_BADGRAPHICFILE,       IDD_ERROR_BADGRAPHICFILE

  HELPITEM IDD_ERROR_VERIFY1,           IDD_ERROR_VERIFY1,              IDD_ERROR_VERIFY1
  HELPITEM IDD_ERROR_VERIFY2,           IDD_ERROR_VERIFY2,              IDD_ERROR_VERIFY2
  HELPITEM IDD_ERROR_VERIFY3,           IDD_ERROR_VERIFY3,              IDD_ERROR_VERIFY3
  HELPITEM IDD_ERROR_VERIFY4,           IDD_ERROR_VERIFY4,              IDD_ERROR_VERIFY4
  HELPITEM IDD_ERROR_VERIFY5,           IDD_ERROR_VERIFY5,              IDD_ERROR_VERIFY5
  HELPITEM IDD_ERROR_VERIFY6,           IDD_ERROR_VERIFY6,              IDD_ERROR_VERIFY6
  HELPITEM IDD_ERROR_VERIFY7,           IDD_ERROR_VERIFY7,              IDD_ERROR_VERIFY7
  HELPITEM IDD_ERROR_VERIFY8,           IDD_ERROR_VERIFY8,              IDD_ERROR_VERIFY8

  HELPITEM IDD_ERROR_IMPORT1,           IDD_ERROR_IMPORT1,              IDD_ERROR_IMPORT1
  HELPITEM IDD_ERROR_IMPORT2,           IDD_ERROR_IMPORT2,              IDD_ERROR_IMPORT2

  HELPITEM IDD_ERROR_EXPORT1,           IDD_ERROR_EXPORT1,              IDD_ERROR_EXPORT1
  HELPITEM IDD_ERROR_EXPORT2,           IDD_ERROR_EXPORT2,              IDD_ERROR_EXPORT2

  HELPITEM IDD_METAFILE_VERIFY1,        IDD_METAFILE_VERIFY1,           IDD_METAFILE_VERIFY1
  HELPITEM IDD_METAFILE_VERIFY2,        IDD_METAFILE_VERIFY2,           IDD_METAFILE_VERIFY2
  HELPITEM IDD_METAFILE_VERIFY3,        IDD_METAFILE_VERIFY3,           IDD_METAFILE_VERIFY3
  HELPITEM IDD_METAFILE_VERIFY4,        IDD_METAFILE_VERIFY4,           IDD_METAFILE_VERIFY4

  HELPITEM IDD_ERROR_LOADLANGUAGE,      IDD_ERROR_LOADLANGUAGE,         IDD_ERROR_LOADLANGUAGE
}

