#include "System.h"
#include "PText.h"

CODEPAGE 850

HELPSUBTABLE ID_HELPTABLE
{
//
//            Item ID                           Help Panel ID
//
  HELPSUBITEM IDD_CONFIGURE_FONT,               IDD_CONFIGURE_FONT
  HELPSUBITEM IDD_CONFIGURE_SIZE,               IDD_CONFIGURE_SIZE
  HELPSUBITEM IDD_CONFIGURE_METRIC,             IDD_CONFIGURE_METRIC
  HELPSUBITEM IDD_CONFIGURE_SOFTBREAKS,         IDD_CONFIGURE_SOFTBREAKS

  HELPSUBITEM IDD_CONFIGURE_FORMAT,             IDD_CONFIGURE_FORMAT
  HELPSUBITEM IDD_CONFIGURE_HEIGHT,             IDD_CONFIGURE_HEIGHT
  HELPSUBITEM IDD_CONFIGURE_WIDTH,              IDD_CONFIGURE_WIDTH
  HELPSUBITEM IDD_CONFIGURE_BOLD,               IDD_CONFIGURE_BOLD
  HELPSUBITEM IDD_CONFIGURE_UNDERSCORE,         IDD_CONFIGURE_UNDERSCORE
  HELPSUBITEM IDD_CONFIGURE_STRIKEOUT,          IDD_CONFIGURE_STRIKEOUT
}

HELPTABLE ID_HELPTABLE
{
//
//         Window ID                    Help Sub-Table ID               Extended Help Panel ID
//
  HELPITEM IDD_PRODUCTINFO,             ID_HELPTABLE,                   IDD_PRODUCTINFO
  HELPITEM IDD_CONFIGURE_IMPORT,        ID_HELPTABLE,                   IDD_CONFIGURE_IMPORT
  HELPITEM IDD_CONFIGURE_EXPORT,        ID_HELPTABLE,                   IDD_CONFIGURE_EXPORT
}
