#include "System.h"

#include "Controls.h"
#include "PText.h"

CODEPAGE 850

RCDATA 1 {              // Special resource segment:
  "Language",           //   Resource DLL Type.
  "PText",              //   Application Name.
  "Deutsch",            //   Specific language name.
  850, 437, 0           //   Codepage to be used (in preference order, null terminated).
}

/****************************************************************************
 * Months: Januar, Februar, M„rz, April, Mai, Juni,                         *
 *   Juli, August, September, Oktober, November, Dezember.                  *
 ****************************************************************************/

DLGTEMPLATE IDD_PRODUCTINFO
{
  DIALOG "", IDD_PRODUCTINFO, 0, 0, 240, 120, FS_DLGBORDER
  {
    CTEXT "PText"                                                0, 10, 94, 220, 18
    PRESPARAMS PP_FONTNAMESIZE, "24.Helv Bold Italic"

    CTEXT "Version 0.97"                                        0, 10, 84, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "03 Dezember 1998"                                      0, 10, 74, 220,  8
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"

    CTEXT "Plain Text Import/Export Module for Escriba",         0, 10, 62, 220,  8
    CTEXT "Copyright ¸ Richard Papo, 1996-1998"                  0, 10, 54, 220,  8
    CTEXT "Internet: rpapo@msen.com"                             0, 10, 46, 220,  8
    CTEXT "WWW: http://www.msen.com/~rpapo"                      0, 10, 38, 220,  8
    CTEXT "Deutsche šbersetzung Frank Mersmann"                  0, 10, 30, 220,  8

    DEFPUSHBUTTON "~OK"                                     DID_OK,100,  8,  40, 16, WS_GROUP
  }
}

DLGTEMPLATE IDD_CONFIGURE_IMPORT
{
  DIALOG "", IDD_CONFIGURE_IMPORT, 0, 0, 200, 100, FS_NOBYTEALIGN | NOT FS_DLGBORDER
  {
    GROUPBOX "Import Options",         0,                        0,  0, 200,100

    LTEXT "Font",                      0,                        4, 80,  86,  8
    CONTROL "",                        IDD_CONFIGURE_FONT,      90,  0, 106, 88, COMBOBOX_CLASS, WS_VISIBLE | WS_GROUP | WS_TABSTOP | CBS_DROPDOWNLIST

    LTEXT "Size",                      0,                        4, 68,  86,  8
    CONTROL "",                        IDD_CONFIGURE_SIZE,      90,  0, 106, 76, COMBOBOX_CLASS, WS_VISIBLE | WS_GROUP | WS_TABSTOP | CBS_DROPDOWNLIST

    AUTOCHECKBOX "Use metric units",   IDD_CONFIGURE_METRIC,     4, 56, 192,  8
    AUTOCHECKBOX "Ignore line breaks", IDD_CONFIGURE_SOFTBREAKS, 4, 46, 192,  8
  }
}

DLGTEMPLATE IDD_CONFIGURE_EXPORT
{
  DIALOG "", IDD_CONFIGURE_EXPORT, 0, 0, 200, 100, FS_NOBYTEALIGN | NOT FS_DLGBORDER
  {
    GROUPBOX "Export Options",                0,                        0,  0, 200,100

    AUTOCHECKBOX "Format output",             IDD_CONFIGURE_FORMAT,     4, 80, 192,  8

    LTEXT "Height",                           0,                        4, 68,  40,  8
    CONTROL "",                               IDD_CONFIGURE_HEIGHT,    54, 68,  40,  8, WC_SPINBUTTON,
      WS_TABSTOP | WS_VISIBLE | SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_NUMERICONLY | SPBS_FASTSPIN

    LTEXT "Width",                            0,                      106, 68,  40,  8
    CONTROL "",                               IDD_CONFIGURE_WIDTH,    156, 68,  40,  8, WC_SPINBUTTON,
      WS_TABSTOP | WS_VISIBLE | SPBS_MASTER | SPBS_JUSTRIGHT | SPBS_NUMERICONLY | SPBS_FASTSPIN

    AUTOCHECKBOX "Simulate bold text",        IDD_CONFIGURE_BOLD,       4, 56, 192,  8
    AUTOCHECKBOX "Simulate underscored text", IDD_CONFIGURE_UNDERSCORE, 4, 46, 192,  8
    AUTOCHECKBOX "Simulate struckout text",   IDD_CONFIGURE_STRIKEOUT,  4, 36, 192,  8
  }
}

STRINGTABLE
{
  IDS_TITLE                     "Plain Text Import/Export Module"
  IDS_TITLE1                    REVISION
  IDS_HELPTITLE                 "'Plain Text' Help Facility"
  IDS_ERROR_CREATEHELP          "FEHLER: Kann Hilfe nicht erzeugen.  Code %08lX."

  IDS_MAJORTAB                  "Plain Text"
  IDS_PTS                       "pt"

  IDS_ERROR_INVALIDWIDTH        "FEHLER: Invalid width specified."
  IDS_ERROR_OPEN_VERIFY         "FEHLER: Unable to open file for verification."
  IDS_ERROR_MEMORY_VERIFY       "FEHLER: Unable to get memory to hold file for verification."
  IDS_ERROR_HAS_NULLS           "FEHLER: Plain Text file contains nulls.  Load it anyway?"
  IDS_ERROR_OPEN_LOAD           "FEHLER: Unable to open file for loading."
  IDS_ERROR_MEMORY_OPEN         "FEHLER: Unable to get memory to hold file."
  IDS_ERROR_WRITE               "FEHLER: Unable to write entire file to disk."
}
